.container-tarea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

.titulo-tareas{
font-size: 1.4em;
    font-weight: 500;
    color: white;
}
.mensaje-vacio{
  color: rgb(51, 51, 51);
    font-size: 0.9em;
    font-weight: 600;
    font-style: italic;
    margin-top: 10px;
}