:root {
  --fondo: #ffebbd;
  --color-principal: #f2cacb;
  --texto: #0f0d0b;
  --color-secundario: #f790b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
.titulo-principal{
 color: var(--color-secundario);
    font-weight: 900;
    text-align: center;
    font-size: 1.9em;
}

.container-principal{
      display: flex;
    gap: 13px;

}
.container-primero{
    display: flex;
    box-sizing: border-box;
    gap: 10px;
    flex-direction: column;
}

.App {
    width: 400px;
    align-items: center;
    border-radius:3px;
    box-sizing: border-box;
}

.container-list {
 background-color: var(--color-secundario);
    height: 315px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 18px 15px;
    overflow-y: auto;
    color: #2b2723;
    font-weight: bold;
    font-size: 0.9em;
}

.filtros{
  display: flex;
  gap: 10px;
flex-direction: column;
align-items: start;
}
.filtros .activo {
 background-color: #d54776;
    color: white;
}

.filtros button {
  padding: 8px 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--color-secundario);
  color: white;
}

.filtros button:hover {
     background: #fccdce;
    opacity: 0.8;
    color: #373434;
} 
.container-form {
       background-color: #ffc3c5;
    width: 400px;
    height: 170px;
    padding: 15px 0px;
    border-radius: 4px;}

@media (max-width: 600px) {
  .App {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
.container-principal{
    flex-direction: column;
    align-items: center;
}
  .container-list,
  .container-form {
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
  }

  .filtros {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
}